<div class="row">
    <div class="col-xs-6">
        <div class="panel-group" id="accordion" role="tablist">

            <% courses.forEach(function(course, index) { %>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= index %>" aria-expanded="false">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="<%= course.name %>">
                            <h4 class="panel-title">
                                <%= course.name %>
                            </h4>
                        </div>
                        <div id="<%= index %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%= course.desc %>
                            </div>
                        </div>
                    </div>
                </a>
                <% }); %>

        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel-group" id="accordion2" role="tablist">

            <% courses_2.forEach(function(course, index) { %>
                <div class="panel panel-default">
                    <div class="panel-heading" id="<%= course.name %>">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#<%= index %>A" aria-expanded="false">
                                <%= course.name %>
                            </a>
                        </h4>
                    </div>
                    <div id="<%= index %>A" class="panel-collapse collapse">
                        <div class="panel-body">
                            <%= course.desc %>
                        </div>
                    </div>
                </div>
                <% }); %>

        </div>
    </div>
</div>